.header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 33%; */
    flex-wrap: wrap;
    padding: 0px;
}

.header ul li{
    list-style: none;
    margin: 10px 20px;
    /* padding: 5px; */
    /* flex: 0 0 33.333333%; */
}

.header a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 5px;
}

.header a:hover,
.header a:active,
.header a.active {
    color: #e54b22;
    border-bottom: 3px solid #e54b22;
    background-color: #ffe6df;
    border-radius: 5px;
}

.header {
    border: 2px solid #e54b22;
    border-radius: 5px;
    margin: 0px 10rem;
    padding: 11px 0px 0px;
}

@media only screen and (max-width: 785px) {
    .header a {
        font-size: 13px;
        padding: 3px;
    }
    .header ul li{
        margin: 10px 3px;
    }
    .header{
        margin: 0px 1.4rem;
    }
}