@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

.image {
  /* display: inline-block; */
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.image .inner_image img {
  transition: transform 0.5s ease;
}

.image img {
  margin: 10px;
  border: 2px solid #e54b22;
  border-radius: 100%;
  padding: 8px;
  object-fit: contain;
}

.image .inner_image :hover {
  transform: scale(1.08);
}

.image p{
  font-family: 'DynaPuff', cursive;
}

.fundamentals p{
  margin-top: -1.5rem !important;
}

@media only screen and (max-width: 700px) {
  .fundamentals p{
    margin-top: -0.5rem !important;
  }
}