@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mali&family=Mochiy+Pop+One&family=Mukta:wght@500&family=Varela+Round&display=swap');
.footer{
    background-color: #000;
    margin: 0px 0px -8px 0px;
    padding: 10px 0px;
    box-shadow: 0px -1px 15px 5px #181717;
    font-family: 'Mali', cursive;
}

.footer h1{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.footer a{
    color: #e54b22;
    font-family: 'Mochiy Pop One', sans-serif;
}

.footer a:hover{
    color: #1266f1;
}

.button a:hover button{
    color: pink;
}